@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import 'tailwindcss';
/* @import '@fortawesome/fontawesome-free/css/all.min.css'; */

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-brand: #16a34a;
    --color-brand-dark: #15803d;
    --color-brand-light: #dcfce7;
    --color-brand-mid: #bbf7d0;
}

@layer base {
  body {
    @apply font-sans;
  }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-item {
    opacity: 0;
}

.animate-item.show {
    animation: fadeUp 0.7s ease-out forwards;
}
